@{
        int i = 0;
    }

    <form action='@Url.Action("Comenzar", "Home")' method="get" enctype="multipart/form-data">
        Nombre Usuario: <input type="text" name="username" value="" placeholder="Ingrese su nombre" required/><br/>
        @* @ViewBag.username = <input type="text" name="username" value="" placeholder="Ingrese su nombre" required/><br/> *@

        <p>
            Dificultad:<br>

            @foreach(var palabra in ViewBag.Dificultad){
                i++;
                <input type="radio" name="Dificultad" value=i required/>@palabra.Nombre<br/> 
                @* <p>@i</p> *@ <!--Con esto verificas el id -->
            }
            <input type="radio" name="dificultad" value="-1" /> Todas las dificultades<br/>
            </p>
        
        <p>
            Categoria:<br>
    
            @foreach(var palabra in ViewBag.Categoria){
                i++;
                <input type="radio" name="Categoria" value=i required/>@palabra.Nombre<br/> 
                @* <p>@i</p> *@ <!--Con esto verificas el id -->
            }
            <input type="radio" name="Categoria" value="-1" />Todas las categorias<br/> 
        </p>

        <button type="submit">Jugar</button>
    </form>