 <p>Nombre de usuario: @ViewBag.Username</p> <!--Falta poner puntaje actual, nro de pregunta actual-->

    <p>@ViewBag.Pregunta.Enunciado</p>
    @* <p>@ViewBag.RespuestasAPregunta</p> *@

        @foreach(Respuesta resp in ViewBag.RespuestasAPregunta)
        {
            <br>
            <a href='@Url.Action("VerificarRespuesta", "Home", new { idPregunta=resp.IdPregunta, idRespuesta=resp.IdRespuesta })'><button>@resp.Contenido</button></a>
        }
    