 <p>@ViewBag.Username</p> <!--Falta poner puntaje actual, nro de pregunta actual-->

    <p>@ViewBag.Pregunta.Enunciado</p>
    @* <p>@ViewBag.RespuestasAPregunta</p> *@

    <form action='@Url.Action("VerificarRespuesta")' method="post">
        @foreach(Respuesta resp in ViewBag.RespuestasAPregunta)
        {
            <input type="radio" name="resp" value=k />@resp.Contenido<br/> 
        }
        <button type="submit">Verificar Respuesta</button>
    </form>